.title{
    font-size: 7vw;
    text-transform: uppercase;
    font-family:'Monsterrat',sans-serif ;
    /* width: 50%; */
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 35vw;
    width: 100%;
}

.select{
    width: 150px;

}